
.footer{
  border-top: 1px solid black;
  // background: #e3f2fd;
  margin-top: 2vh;
  
  .last-row{
    border-top: 1px solid black;
  }
  .firstchild{
    letter-spacing: 10px;
    color: #007bff;
    font-style: italic
  }
}
